.demo {
  letter-spacing: 37px;
  font-size: 30px;
}
.select {
  border: 1px solid red;
  border-radius: 6px;
  padding: 4px 0;
  box-shadow: 0px 0px 10px 1px red;
}

.input {
  width: 30%;
}

.inputrangetext {
  text-align: right;
}

.inputrange {
  width: 100%;
}

