@media (prefers-color-scheme: light) {
    #app {
        background-color: #fff;
        color: blueviolet;
    }
}

@media (prefers-color-scheme: dark) {
    #app {
        background-color: #000000;
        color: #fff;
    }
}
